<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="1.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key ="URL" value="https://previewrc.erecruit.com/Login.aspx"/>
    <add key ="VendorManagerUserName" value="malathi.kothapalli@gallop.net"/>
    <add key ="VendorManagerPassword" value="Malathi@111"/>
    <add key ="VendorContactName" value="jfkvendor@vmserecruit.com"/>
    <add key ="VendorContactPassword" value="erecruit15"/>
    <add key ="RecruiterUserName" value="nmadapathi@erecruit.com"/>
    <add key ="RecruiterPassword" value="Danko117"/>
  </appSettings>
</configuration>